---
import Achievement from "../components/Achievement.astro";
import TeamMember from "../components/TeamMember.astro";
import Layout from "../layouts/Layout.astro";
import { achievements } from "../lib/achievements";
import { teamMembers } from "../lib/team";
---

<Layout>
	<header class="header">
		<a href="#" class="logo"><img src="/images/image.png" alt="" /></a>
		<div class="fas fa-bars"></div>
		<nav class="navbar">
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#service">Projects</a></li>
				<li><a href="#achievements">Achievements</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section id="home" class="home">
		<h1 class="drop-shadow-lg">TEAM VYOMA</h1>
		<h2 class="drop-shadow-md">Aeromodelling Club of RVCE</h2>
		<div class="wave wave1"></div>
		<div class="wave wave2"></div>
		<div class="wave wave3"></div>
	</section>

	<section id="about" class="about">
		<h1 class="heading">ABOUT OUR TEAM</h1>
		<div class="row">
			<div class="content">
				<h3>Who We Are</h3>
				<p>
					We are the aero-design team of RV College of Engineering.
					Started in 2007, we are one of the leading student projects
					in India, having won many national and international
					competitions and awards such as the NASA Systems Engineering
					Award.
				</p>
				<h3>What We Do</h3>
				<p>
					Carry out cutting edge research for development of Unmanned
					Aerial Vehicles. Ignite inquisitiveness and interest in
					young minds in Aerospace Engineering and help them along
					that path. Represent our country in numerous International
					competitions like SAE Aero-design, AIAA Design Build Fly &
					IMAV.
				</p>
				<h3>Our Mission</h3>
				<p>
					To develop state of the art technologies in the field
					Autonomous Robotics, to accelerate the growth of the
					Aerospace domain by conceiving a Societal Drone Era, to
					Carry out R&D in Unmanned Aerial Vehicles, to perform custom
					advanced missions for societal use.
				</p>
			</div>
		</div>
	</section>

	<div class="pt-5 pb-5" style="background-color: #212121;">
		<div class="container">
			<div class="row">
				<div class="section-head col-sm-12" id="service">
					<h1>PROJECTS</h1>
					<p>
						We help you to build high-quality digital solutions and
						products as well as deliver a wide range of related
						professional services. We are providing world-class
						service to our clients.
					</p>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_one"
							><i class="fa fa-arrow-up"></i></span
						>
						<h6>Fixed-Wing VTOL</h6>
						<p>
							An efficient aircraft capable of taking off and
							landing in difficult terrain
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_two"
							><i class="fa fa-fighter-jet"></i></span
						>
						<h6>RC Planes</h6>
						<p>
							Remote-controlled model airplanes, controlled by
							radio signals
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_three"
							><i class="fa fa-plane"></i></span
						>
						<h6>RC Plane Launcher</h6>
						<p>
							A system to launch RC airplanes, making hand
							launches obsolete
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div
					class="section-head-1 col-sm-12"
					style="text-align: center;"
				>
					<h4 style="margin-top: -5rem;" id="achievements">
						ACHIEVEMENTS
					</h4>
				</div>

				{achievements.map((achievement) => 
					<Achievement
						src={achievement.src}
						heading={achievement.heading}
					>
						{achievement.description}
					</Achievement>
				)}
			</div>
		</div>
	</div>

	<div class="communicate">
		<h3>Get in touch with us</h3>
		<a href="#contact"><button class="btn">Contact Now</button></a>
	</div>

	<a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>

	<section class="team" style="margin-top: 7rem;">
		<h1 class="heading" style="margin-top: -1.5rem;" id="team">Our team</h1>
		<p></p>

		{
			teamMembers.map((member) => (
				<TeamMember
					name={member.name}
					src={member.src}
					title={member.title}
					twitter={member.twitter}
					instagram={member.instagram}
					linkedin={member.linkedin}
				/>
			))
		}
	</section>

	<section id="contact" class="contact">
		<h1 class="heading">Get in touch</h1>
	</section>
	<div class="contact-in">
		<div class="contact-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30711243.17762776!2d64.4398422293091!3d20.011408266548177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1644684739958!5m2!1sen!2sin"
				width="100%"
				height="auto"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"></iframe>
		</div>
		<div class="contact-form">
			<form action="./contactme.php" method="POST">
				<input
					type="text"
					name="name"
					placeholder="Name"
					class="contact-form-txt"
					required
				/>
				<input
					type="tel"
					id="phone"
					name="phone"
					pattern="[0-9]{10}"
					required
					placeholder="Contact number"
					maxlength="10"
					class="contact-form-phone"
				/>
				<input
					type="email"
					name="email"
					placeholder="Email"
					class="contact-form-email"
					required
				/>
				<textarea
					placeholder="Your Message"
					name="message"
					class="contact-form-txtarea"
					required></textarea>
				<input
					type="submit"
					value="Submit"
					name="submit"
					class="contact-form-btn"
				/>
			</form>
		</div>
	</div>

	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 footer-links">
						<h4>About Us</h4>
						<ul>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#">Home</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#about">About us</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#portfolio">Achievements</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#team">Team</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#contact">Contact</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#faq">FAQ</a>
							</li>
						</ul>
					</div>

					<div
						class="col-lg-4 col-md-6 footer-contact"
						style="font-size: 1.5rem; text-transform: none;"
					>
						<h4>Contact Us</h4>
						<p>
							RV College of Engineering<br />
							Pattanagere, Mysuru road<br />
							Bangalore, Karnataka, 560059 <br />
							<strong>Phone:</strong> 999999999<br />
							<strong>Email:</strong>
							<span
								style="font-family: monospace; text-transform: none;"
								>teamvyoma.ae@rvce.edu.in</span
							><br />
						</p>

						<div class="social-links">
							<a href="https://x.com/projectvyoma"
								><i class="ion-logo-twitter"></i></a
							>
							<a
								href="https://www.linkedin.com/company/team-vyoma"
								><i class="ion-logo-linkedin"></i></a
							>
							<a href="https://www.instagram.com/teamvyoma"
								><i class="ion-logo-instagram"></i></a
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row align-items-center">
				<div
					class="col-md-6 copyright"
					style="color: #fff; font-size: 1.3rem;"
				>
					Copyright &copy; 2015 Team Vyoma. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
</Layout>
