---
const { name, src, title, twitter, instagram, linkedin } = Astro.props;
---

<div class="row inline-block flex-row items-center justify-center">
    <div class="card">
        <div class="image flex flex-row justify-center">
            <img
                src={src}
                alt={name}
            />
        </div>
        <div class="flex flex-col gap-4">
            <h3 class="text-3xl text-white">{name}</h3>
            <span class="text-base text-neutral-200">{title}</span>
            <div class="flex transition gap-5 justify-center text-base text-white ">
                <a
                    href={twitter}
                    class="transition hover:text-sky-600 no-underline fab fa-twitter"></a>
                <a
                    href={instagram}
                    class="transition hover:text-sky-600 no-underline fab fa-instagram"></a>
                <a
                    href={linkedin}
                    class="transition hover:text-sky-600 no-underline fab fa-linkedin"></a>
            </div>
        </div>
    </div>
</div>
